#product-content-wrapper {
	height:2000px;
}

#shop {
	text-align:center;
	margin-top:-48px;
	color:gray;
	font-family: latin_modern_mono10_regular;
}

.prod-icon {
	width:60px;
	margin-left:96px;
	border:2px solid white;
	opacity:0.4;
	transition:0.7s;

}

.prod-icon:hover {
	opacity:0.7;
}


#icon-wrapper {
	position:relative;
	margin-left:calc(50% - 530px);
	margin-top:72px;
}

.title {
	position:absolute;
	font-size:120px;
	color:white;
	z-index:2;
	top:calc(50% - 160px);
	left:calc(50% - 190px);
}

.square {
	width:250px;
	height: 250px;
	background:red;
	margin-right:3px;
	position:absolute;
	transition:0.5s;
}

.product-row {
	width:1009px;
	height:253px;
	position:relative;
}

#product-wrapper {
	width:1009px;
	height:1009px;
	background:green;
	margin-left:calc(50% - 504.5px);
	margin-top:48px;
}

.position-one {
	left: 0px;
}

.position-two {
	left: 253px;
}

.position-three {
	left:506px;
}

.position-four {
	left:759px;
}

.darken {
	opacity: 0.7;
	transition:0.5s;
}

.selected {
	opacity:1;
	transition:0.7s;
}
