#product-content-wrapper {
	height:2500px;
	overflow:hidden;
}

#root {
	margin-top:-200px;
}
#shop {
	text-align:center;
	margin-top:-48px;
	color:gray;
	font-family: latin_modern_mono10_regular;
	display:none;
}

.prod-icon {
	width:24px;
	margin-left:54px;
	opacity:0.3;
	transition:0.7s;
	z-index: 16;
	margin-top:16px;
	margin-bottom:10px;
}

.prod-icon:hover {
	opacity:0.5;
}

#scroll-point-works {
	top:10px;
}

#prod-line {
	margin-top:50px;
	margin-bottom:6px;
}


#shop-desc {
	width:400px;
	margin-top:-50px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family: latin_modern_mono10_regular;
	font-size:12px;
	color:gray;
}

#icon-wrapper {
	position:relative;
	width:100%;

}

.title {
	position:absolute;
	font-size:120px;
	color:white;
	z-index:2;
	top:calc(50% - 250px);
	left:calc(50% - 190px);
	
}

.square {
	width:250px;
	height: 250px;
	background:black;
	margin-right:3px;
	position:absolute;
	overflow:hidden;
	transition:0.5s;
}

.product-row {
	width:1009px;
	height:253px;
	position:relative;
}

#product-wrapper {
	width:1009px;
	height:1009px;
	background:white;
	margin-left:calc(50% - 504.5px);
	margin-top:500px;
}

.position-one {
	left: 0px;
}

.position-two {
	left: 253px;
}

.position-three {
	left:506px;
}

.position-four {
	left:759px;
}

.darken {
	opacity: 0.7;
	transition:0.5s;
}

.selected {
	opacity:1;
	transition:0.7s;
}

.prod-text {
	color:gray;
	font-family: latin_modern_mono10_regular;
	margin-left: 210px;
}

#prod-margin1 {
	float: left;	
	width: 167px;
}
#prod-margin2 {
	float: left;	
	width: 160px;
}
#prod-margin3 {
	float: left;	
	width: 160px;
}
#prod-margin4 {
	float: left;	
	width: 165px;
}
#prod-margin5 {
	float: left;	
	width: 165px;
}
#prod-margin6 {
	float: left;	
	width: 160px;
}

/* for sticky products page */

.sticky {
	position: fixed !important;
	top: 0px;
	z-index: 15;
}


#prod-icon-wrapper {
  background: white;
  position: relative;
  width: 100%;
  padding-left:calc(50% - 280px);
  padding-top:12px;
  padding-bottom:6px;
  opacity:0.9;
  transition:0.5s;
}

#prod-icon-wrapper:hover {
	opacity:1;
}

.nav-left {
  position: absolute;
  left: 0;  
  bottom: -14px;
}

.nav-right {
  position: absolute;
  right: 0;  
  bottom: -14px;
}
 
.first {
	width:380px;
	margin-left:-70px;
}
