@font-face {
    font-family: 'latin_modern_mono10_regular';
    src: url('../fonts/lmmono10-regular-webfont.eot');
    src: url('../fonts/lmmono10-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lmmono10-regular-webfont.woff') format('woff'),
         url('../fonts/lmmono10-regular-webfont.ttf') format('truetype'),
         url('..fonts/lmmono10-regular-webfont.svg#latin_modern_mono10_regular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
	font-family: Roboto;
}
/*The Navigation and Menu */
.menu {
	position:fixed;
	height:36px;
	top:24px;
	right:24px;
	transition:0.5s;
	z-index:5;
}

a {
	text-decoration:none;
	color:white;
	transition:0.5s;
}

a:hover {
	color:gray;
}

#sidebar-home {
	color:#6BCAE2;
	transition:0.5s;
}

#sidebar-home:hover {
	color:#51A5BA;
}

.menu:hover {
	transform: rotate(180deg);
}

.menu-container {
	position:fixed;
	width:100%;
	height:100vh;
	background:pink;
	color:white;
	z-index:7;
	top:0;
	left:0;
	transform: translateX(100%);
	transition:0.5s;

}

.x {
	position:absolute;
	height:36px;
	top:24px;
	right:24px;
	transition: 0.5s;
	z-index:8;
}

.x:hover {
	transform: rotate(180deg);
}

ul {
	list-style:none;
	position:absolute;
	top:calc(50% - 140px);
	right:calc(50% - 115px);
}

.menu-active {
	transform: translateX(0);
}

li {
	font-size:48px;
}

/*Landing Page */

.landing-wrapper {
	position:fixed;
	width:calc(100% - 40px);
	height:calc(100vh - 40px);
	z-index:1;
	background:white;
	top:20px;
	left:20px;
	overflow:hidden;
}

.landing {
	position:absolute;
	width:100%;
	z-index:1;
}

#down {
	position:absolute;
	width:36px;
	bottom: 24px;
	left:calc(50% - 18px);
	z-index:5;
}

@keyframes bounce { 
	0%, 100% {
		bottom: 24px;
	} 10% {
		bottom: 26px; 
	} 30% {
		bottom: 30px;
	} 50% {
		bottom: 34px;
	} 70% {
		bottom: 30px;
	} 90% {
		bottom: 26px;
	}
}

.bounce {
	animation: bounce 2s cubic-bezier(.4, 0, .5, .9) infinite;
}


/* content */

.content-wrapper {
	position:absolute;
	top:100vh;
	left:0;
	width:100%;
	height:1000px;
	background:white;
	z-index:3;

}

.logo {
	width:500px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	padding-top:125px;
	margin-top:0px;
	margin-bottom:30px;
}

/* navigation row */

#row-wrapper {
	position:relative;
	width:calc(100% - 40px);
	height:300px; 
	background:white;
	margin-left:20px;
	overflow:hidden;
}

.option {
	position:absolute;
	width:33%;
	height:300px;
	overflow:hidden;
	background:black;
}

.picture {
	position:absolute;
	width:100%;
	transition:0.5s;
}

#works {
	margin-left:33.5%;
}

#ingredients {
	margin-left:67%;
}

#flowers {
	margin-top:-10px;
	width:110%;
	margin-left:-25px;
}

.description {
	position:absolute;
	z-index:2;
	margin-top:110px;
	color:white;
	font-size:54px;
	padding: 5px;
	transition:0.5s all;
}

.option:hover .picture {
	opacity:0.3;
	transform: scale(1.1);
}

.home-about-desc {
	margin-left:calc(50% - 73px);
}

.home-works-desc {
	margin-left:calc(50% - 70px);
}

.home-ing-desc {
	margin-left:calc(50% - 140px);
}
/* footer */

.footer {
	position:absolute;
	height:250px;
	width: 100%;
	bottom:0px;
	background:gray;

}

.up {
	font-size:36px;
	color:white;
	border: 2px solid white;
	padding:5px;
	display:inline-block;
	position:absolute;
	right:24px;
	top: 24px;
	font-family: Roboto;
}

.footer-column {
	display:inline-block;
	width:25%;
	color:white;
	text-align:center;
	margin-top:36px;
	font-size:18px;
	font-family:latin_modern_mono10_regular;

}


.home {
	width:53px;
	height:53px;
	border: 2px solid white;
	position:absolute;
	top:24px;
	right:100px;
}

.home-logo {
	width:100%;
}
.footer-border {
	position:absolute;
	width:calc(100% - 40px);
	height: calc(100% - 20px);
	top:20px;
	left:20px;
	border-top: 2px solid white;
	border-left: 2px solid white;
	border-right: 2px solid white;
}

.footer-row-two {
	color:white;
	font-size:12px;
	position:absolute;
	bottom:12px;
	left:40px;
	font-family: latin_modern_mono10_regular;
}

