a {
    color:black;
    transition:0.3s;
}

a:hover {
    color: #ffd0d7;
}

a:active {
    color:#ff6a80;
}

body {
    font-family: Lato;
}
#pageWrapper {
    width:auto;

}
#contentWrapper {
    width:calc(100% + 16px);
    height:2100px;
    display:block;
    margin-top:108px;
    margin-bottom:0px;
    background:white;
    position:relative;
    z-index:3;
    overflow:hidden;
    top:100vh;
    left:-8px;

}

#rowWrapper {
    display:inline-block;
    margin-left:calc(50% - 525px);
    padding-top:108px;

}

.row {
    position:relative;
    height:250.5px;
    width:1050px;
    margin-top:12px;
}

#one {
    background:white;
}

#three {
    background:#2a2a2a;
}

#four {
    background:#3f3f3f;
}
#five {
    background:#545454;
}
#six {
    background:#696969;
}
#seven {
    background:#7e7e7e;
}

#menu {
    position:fixed;
    width:36px;
    right: 24px;
    top:24px;
    z-index:4;
}

.shapeone {
    background:black;
    position:absolute;
    width:250.5px;
    height:250.5px;
    margin-left:6px;
    margin-right:6px;
    overflow:hidden;

}

.shapetwo {
    background:black;
    position:absolute;
    width:513px;
    height:513px;
    margin-left:6px;
    margin-right:6px;
    overflow:hidden;
}
#second {
    left:262.5px;
}

#third {
    left: 525px;
}

#fourth {
    left:787.5px;
    z-index:1;
}

#flowers {
    margin-left:-20px;
    margin-top:-40px;
    width:400px;

}

#bigbear {
    width:400px;
}

img {
    transition: all 0.5s;
}

#palm {
    width:900px;
}
.shapeone:hover img {
    transform: scale(1.2);
    opacity:0.5;
    visibility:visible;

    }

#help {
    left:262.5px;
}

#menu:hover {
    transform:rotate(180deg);
    transition:0.7s;
    opacity:1;
}

#x:hover {
    transform:rotate(180deg);
    transition:0.7s;
    opacity:1;
}
.imgDescription {
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:#fff;
    transition: 0.5s;
    opacity:0; 
    font-size:24px;


}

.shapeone:hover .imgDescription {
    opacity:1;

}

.sidebar-container {
    position:fixed;
    width:50%;
    height:100%;
    background:gray;
    z-index:99;
    right:0;
    top:0;
    opacity:1;
    -webkit-transform: translateX(100%);
    -webkit-transition: all 0.7s;

}

.sidebar-active {
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -o-transform: translateX(0%);
}

.no-scroll {
    overflow:hidden;
}


ul {
    list-style:none;
    color:white;
    font-size:24px;
    margin-top:calc(50% - 104px);
    margin-left:calc(50% - 94px);
}

li {
    padding:12px;
}

#landing {
    height:100vh;
    width:calc(100% + 16px);
    margin:0;
    overflow:hidden;
    position:fixed;
    top:0px;
    left:-8px;
    z-index:1;
}

#land {
    height:100%;
    width:100%;   
}

#landing-text {
    position:fixed;
    font-size:108px;
    color:white;
    z-index:2;
    top:calc(50% - 62px);
    right:calc(50% - 282px);

}

#logo {
    position:fixed;
    z-index:4;
    left:24px;
    top:24px;

}

#down {
    width: 36px;
    position: fixed;
    margin-left:calc(50% - 18px);
    bottom:24px;
    z-index:2;
}

#x {
    width:36px;
    position:absolute;
    right:24px;
    top:24px;
    z-index:100;
    opacity:1;
}